{% extends 'base.html' %}

{% block nav %}


    <div class="row">
        <div class="container-fluid">
        <div class="col-md-3">
            <br>
            <br>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                   Take another topic?
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    {% for topic in topics %}

                        {% if not topic.lock %}
                            <a href="#" class="dropdown-item">{{topic.name}}</a>
                            <i class="fa fa-lock" aria-hidden="false"></i>
                        {% else %}
                            <a href="/topic/{{topic.id}}/view/" class="dropdown-item">{{topic.name}}    <i class="fa fa-lock" aria-hidden="True"></i></a>

                        {% endif %}

                        <br>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <br>
            <br>
            <br>
            <h1>{{current_topic.name}}</h1>

        </div>
        </div>
        <div>
            <h5> {{current_topic.description}}</h5>
        </div>
        {% if request.session.accesstoken == '90e013ff11c28ceaa465b3b193d507a37ffd162a4439997b367552b732987ec30de24f9d5beda46bd3eab1216b' %}
            <a href='/course/{{current_topic.course.id}}/topics/add/'> add </a>
        {% endif %}
    </div>


<div class="container">
    {% for data in datas %}
    <div class="row">

        <div class="col-md-9">
            {% if data.content == '1' %}
                <p> {{data.value}} </p>
            {% elif data.content == '2'%}
                <div class="code" style="background-color: #232121;">
                    <pre style="padding: 2em;">
                        <code style="color: white;" id="copyTarget" value="{{data.value}}">
                            {{data.value}}
                        </code>
                    </pre>
                    <button id="copyButton"><i class="fa fa-copy"></i></button>
                </div>

            {% elif data.content == '3'%}
                <img src="{{data.value}}"></img>
            {% elif data.content == '4'%}
                <h4> {{data.value}} </h4>
            {% elif data.content == '5'%}
                <a href="{{data.value}}">{{data.value}}</a>
            {% elif data.content == '6'%}
                <p>hey</p>
            {% elif data.content == '7'%}
                <p>hey</p>
            {% elif data.content == '8'%}
            <iframe width="420" height="315" src="{{data.value}}">
            </iframe>
            {% endif %}
            {% if request.session.accesstoken == '90e013ff11c28ceaa465b3b193d507a37ffd162a4439997b367552b732987ec30de24f9d5beda46bd3eab1216b' %}
                <a href='/content/{{data.id}}/update/'> update</a>
                <a href='content/{{data.id}}/delete/'> delete</a>
            {% endif %}


        </div>

    </div>
    {% endfor %}

</div>
<script type="text/javascript">
    document.getElementById("copyButton").addEventListener("click", function() {
        console.log("sabd")
        copyToClipboard(document.getElementById("copyTarget").firstChild.data);
    });
    function copyToClipboard(str) {
        console.log(str)
        const el = document.createElement('textarea');
          el.value = str;
          document.body.appendChild(el);
          el.select();
          document.execCommand('copy');
        document.body.removeChild(el);
    }
</script>
{% endblock %}
