{%extends 'base.html'%}
<!-- {% block tittle %}{{content.pname}}{% endblock tittle %} -->
{% block nav %}

<h2> <small> {{content.topic.name}}</small></h2>
<ul>
  <li>
    {{content.id}}
  </li>
  <li>
    {{content.content}}
  </li>
  <li>
    {{content.position}}
  </li>
  <li>
    {{content.content}}
  </li>
  <li>
    {{content.value}}
  </li>
</ul>
<a href="/content/{{content.id}}/update/" type="button" class="btn btn-default" role="button">update
</a>
<a href="/content/{{content.id}}/delete/" type="button" class="btn btn-default" role="button">delete
</a>


</div>
{% endblock  %}
