{% block nav %}
    <style type="text/css" rel="stylesheet" media="all">
    *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

    body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    }
    .gradient {
        background:linear-gradient(#007991, #78ffd6);
    }
    .websitesname {
        font-family: "Allerta Stencil", Sans-serif;
        font-size: 65px;
        color:rgb(193, 250, 250);

    }
    .text{
        padding: 100px 0px 0px 0px;
        /*margin-right: 500px;*/
        width: 60%;
        float: left;

        text-align: center;




    }

    form {
    max-width: 400px;
    /*margin: 0px 25px 0px 950px; */
    width: 35%;
    margin-top: 50px;


    padding: 10px 20px 5px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    float:right;




    }

    h1 {
    margin: 0 0 30px 0;
    text-align: center;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    }

    input[type="radio"],
    input[type="checkbox"] {
    margin: 0 4px 8px 0;
    }
    h3 {
    margin: 0 0 30px 0;
    text-align: center;
    color: f2243c
    }

    select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
    }

    button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: rgb(0,126,151);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid  rgb(0,126,151);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    }

    fieldset {
    margin-bottom: 30px;
    border: none;
    }

    legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    }

    label {
    display: block;
    margin-bottom: 8px;
    }

    label.light {
    font-weight: 300;
    display: inline;
    }

    .number {
    background-color:  rgb(0,126,151);
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
    }

    @media screen and (min-width: 480px) {

    form {
    max-width: 480px;
    }

    }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">




<body >
    <!-- <div>
    <div class="text">
    <h1 class="websitesname"> MASTER PYTHON</h1>
    <h3 style="font-family: 'Lucida Sans',  sans-serif;" >Please dont hesitate to ask any doubts you have. This guy is super friendly and loves it when you ask questions. Lets make him go crazy :p </h3>

    <h2 style="font-family:Arial, Helvetica, sans-serif; color:rgb(11, 12, 12);">Happy Learning !</h2>
    </div>
    <div> -->


    <form action="/users/signup/process/" method="post">

        <h1>Sign Up</h1>
        <h3>{{message}}</h3>

        <fieldset>
            <legend><span class="number">1</span>Your basic info</legend>
            <label for="name">Name:</label>
            <input type="text" id="name" name="username">

            <label for="mail">Email:</label>
            <input type="email" id="mail" name="email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password">

        <label for="mobile">Number:</label>
        <input type="text" id="mobile" name="mobile">
        </fieldset>

        <button type="submit">Sign Up</button>
        <fieldset>
       <p>Already have an account ? <a class="button" href="/users/signin/"> Sign In</a></p>
    </fieldset>
    </form>
    </div>
    </div>


{% endblock %}
