{% extends 'base.html' %}

{% block nav %}

<h2> courses list</h2>
<br>
<div class="row">
{% for course in courses  %}

<div class="card col-md-4" >
    <img src="/media/{{course.image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{course.name}}</h5>
        <p class="card-text">{{course.description}}</p>
    </div>
    <div class="card-body">
        <a href="/course/{{course.id}}/topics/" class="card-link">Start Course</a>
    </div>

</div>
<div class="col-md-1">

</div>

{% endfor %}
</div>
{% endblock %}
