{% extends 'base.html' %}

{% block nav %}

<h2> topics list</h2>
<br>

    <div class="row">
{% for topic in topics  %}
<div class="card col-md-3" style="width: 18rem; margin: 2em; height: auto">
    <img src="/media/{{topic.image}}" class="card-img-top span5 offset1" alt="..." style="padding: 1rem;">
    <div class="card-body">
        <h5 class="card-title">{{topic.position}}.  {{topic.name}}</h5>
        <p class="card-text">{{topic.description}}.</p>
    </div>
    <div class="card-body">
        {% if not topic.lock %}
            <a href="#" class="card-link">Start Topic</a>
            <i class="fa fa-lock" aria-hidden="false"></i>
        {% else %}
            <a href="/topic/{{topic.id}}/view/" class="btn btn-info">Start Topic</a>
                <i class="fa fa-lock" aria-hidden="True" style="margin: 1em">  Locked</i>
        {% endif %}
    </div>
</div>
<!-- <div class="col-md-1">
</div> -->
{% endfor %}
    </div>

{% endblock %}
